.container {
  display: grid;
  grid-gap: 15px;
  grid-template-columns:
    [left-sidebar-start] 20%
    [main-start] 60%
    [right-sidebar-start] 20%;

  grid-template-rows:
    [body-start] 80%
    [footer-start] 20%;
  
  margin: 20px;
  box-sizing: border-box;
  height: 100vh;
  color: white;

  & > * {
    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;
    background-color: goldenrod;
  }
}


.left-sidebar {
  
}

.main {
  
}

.right-sidebar {
  grid-row: body-start / span 2;
}

.footer {
  grid-column: main-start / span 2
}