.container {
  display: grid;
  grid-gap: 15px;
  grid-template-columns:
    [left-sidebar-start] 2fr
    [left-sidebar-end main-start] 6fr
    [main-end right-sidebar-start] 2fr
    [right-sidebar-end];

  grid-template-rows:
    [body-start] 8fr
    [body-end footer-start] 2fr
    [footer-end];
  
  padding: 20px;
  box-sizing: border-box;
  height: 100vh;
  color: white;

  & > * {
    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;
    background-color: goldenrod;
  }
}


.left-sidebar {
  grid-row: body-start / -1;
}

.footer {
  grid-column: main-start / right-sidebar-end
}