html,
body {
  margin: 0;
  width: 100vw;
  min-height: 100vh;

  font-family: sans-serif;

  background-color: #0d1022;
  /*   
  #f3cd27
  #ec6110
  #94d5e0
  #0d1022
  */
  color: white;
}

.space {
  margin: 0 0 20px 0;
}

.title {
  text-align: center;
  color: #f3cd27;
}
